
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>  Hello i'm elhoussine</title>
  </head>
  <body>
<h1>Pythin programming with django and html and the good programmer elhoussine </h1>
    <form action="{% url 'count' %}">
  <textarea cols='40' rows='10' name='fulltext'></textarea >
       </br>
<input type="submit" value="Count The Words !"  />

<h1> About as page from this link : </h1>
<form action="{% url 'about'%}">
<a href="about.html" > about as page </a>
    </form>
  </body>
</html>

    